{% extends "base.html" %}
{% block content %}

    <form method="POST" action="/company">
        <div class="box">
            <form method="POST" action="/company">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">

                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="website" placeholder="Website" autofocus="">

                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="logo" placeholder="Logo" autofocus="">

                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <label>Location</label>
                        <select class="input is-large" name="location" id="location">
                            {% for x in location %}

                                <option value="{{ x.id }}">{{ x.city }}</option>

                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Salveaza</button>


            </form>

        </div>
    </form>

{#    <button class="button is-block is-info is-large is-fullwidth" id="test_id">Test</button>#}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/firstAJAX.js"></script>
{% endblock %}