{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <table class="table table-striped">
     <thead>
        <tr>
            <th>Nr crt</th>
            <th>Name</th>
            <th>Website</th>
            <th>Logo</th>
            <th>Location</th>
        </tr>
     </thead>
    <tbody>
    {% for x in all_companies %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.website }}</td>
        <td>{{ x.logo }}</td>
        <td>{{ x.location.city }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}