<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Tutorial</title>
</head>
<body>
    {% if parametru %}
        <h1>Primul proiect cu flask {{parametru}}.</h1>
    {% else %}
        <h1>Primul proiect cu flask.</h1>
    {% endif %}

    <!--{% for x in parametru %}-->
    <!--{{ loop.index}} {{ parametru }}-->
    <!--{% endfor %}-->
    <p>Html is fun</p>
</body>
</html>