{% extends "base.html" %}
{% block content %}

    <form method="POST" action="/location">
        <div class="box">
            <div class="field" style="background: red;">{{ error }}</div>
            <form method="POST" action="/location">
                <div class="field">
                    <div class="control">
                        {% if location_value %}
                            <input class="input is-large" type="text" name="location" placeholder="City" autofocus=""
                                   value="{{ location_value }}">
                        {% else %}
                            <input class="input is-large" type="text" name="location" placeholder="City" autofocus="">
                        {% endif %}

                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Salveaza</button>

            </form>

        </div>
    </form>
{% endblock %}