{% extends "base.html" %}
{% block content %}

    <form method="POST" action="/location_edit/{{ city.id }}">
        <div class="box">
            <div class="field" style="background: red;">{{ error }}</div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="location" placeholder="City" autofocus="" id="location_id"
                           value="{{ city.city }}">


                </div>
            </div>
            <button type="submit" class="button is-block is-info is-large is-fullwidth">Salveaza</button>
        </div>
    </form>

{% endblock %}