{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name|upper }}!
    <p>Last login: {{ last_login }}</p>
<p>Your phone number is: {{ phone_number }}</p>
</h1>
{% endblock %}